<div class="bg-[#7286c9] static text-white">
	<div class="unhighlightable grid grid-cols-1 lg:grid-cols-6">
		<div class="ml-4 m-2 relative lg:col-start-2 lg:col-span-4">
            <slot />
        </div>
    </div>
</div>