---
import API from '../api/API';
import Layout from '../layouts/Layout.astro';

const code = Astro.url.searchParams.get("accessCode");
if (code) {
	const moment = new Date();
	moment.setUTCDate(moment.getDate()+15);
	Astro.cookies.set("access_token", code, {
		expires: moment, secure: true, path: "/", sameSite: "lax"
	});

	return Astro.redirect("/");
}

if (Astro.cookies.get("access_token").value != "invalid" && Astro.cookies.get("access_token").value != null) {
	return Astro.redirect("/");
}

//const microsoftUrl = `${API.APIBase}/dfscript/web/auth/?res=${encodeURIComponent(Astro.url.origin + "/")}`;
const microsoftUrl = `https://api.astrono.net/auth/microsoft/auth/?res=${encodeURIComponent(Astro.url.origin + "/")}`;

---
<Layout title="Astrono Network - Login">
	<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">

	<div class="flex h-screen unhighlightable grid grid-cols-1 lg:grid-cols-6">
		<div class="m-6 lg:col-span-2 lg:col-start-3 m-auto">
			{Astro.url.searchParams.get("error") ? () => {
				return (
					<div class="bg-zinc-800 rounded mb-3 border border-red-600">
						<div class="m-3 mt-2 mb-2 text-sm">
							{Astro.url.searchParams.get("error")}
						</div>
					</div>
				)
			} : ""}
			<div class="bg-zinc-800 rounded py-0.5">
				<div class="m-3 justify-center">
					<p class="text-zinc-300 text-2xl">Login to DFScript Online</p>
				</div>
	
				<div class="border-b border-zinc-700 m-2"></div>
	
				<div class={`unhighlightable mt-6 gap-3 grid grid-cols-1 lg:grid-cols-6`}>
					<button id="microsoft-button" onclick={`login('${microsoftUrl}', 'microsoft', 'bg-[#ffffff]', 'text-[#000000]')`} class="lg:col-span-4 lg:col-start-2 rounded-lg bg-[#ffffff] py-2">
						<img class="mx-auto h-6" src="/microsoft.jpg">
					</button>
				</div>
	
				<div class="m-3 mt-6">
					<p class="text-xs text-zinc-300 font-semibold">By signing in through Microsoft:</p>
					<p class="text-xs text-zinc-300">Your Microsoft login credentials will not be shared.</p>
					<p class="text-xs text-zinc-300">A unique numeric identifier will be shared with dfscript.techstreet.tech. Through this, dfscript.techstreet.tech will be able to identify your Microsoft account profile and access information about your scripts.</p>
				</div>
			</div>
		</div>
	</div>
</Layout>


<script client:load>
    function login(uri, method, style, text) {
		login_button = document.getElementById(method + "-button");
		login_button.disabled = true;
		login_button.className = `lg:col-span-4 lg:col-start-2 rounded-lg ${style} py-2 cursor-not-allowed`
		login_button.innerHTML = `<i class=\"mx-auto animate-spin ${text} fa-solid fa-spinner\"></i>`

		setTimeout(() => {  
            location.replace(uri)
		}, 1000);
    }
</script>